<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="isLoggedIn" aria-label="Main navigation">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
        <button type="button" class="nav-item nav-link btn btn-link text-light" (click)="logout()" aria-label="Log out">Logout</button>
    </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': isLoggedIn }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center mt-4">
    <p>
        <a href="https://jasonwatmore.com/post/2020/07/18/angular-10-user-registration-and-login-example-tutorial" target="_top" rel="noopener">Adapted from Jason Watmore's Angular user registration tutorial</a>
    </p>
    <p>
        <a href="https://jasonwatmore.com" target="_top" rel="noopener">JasonWatmore.com</a>
    </p>
</div>